.App {
    text-align: center;
    min-height: 100vh;
    background-color: white;
}

.App .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    /* background-color: yellow; */
}

.App .title {
    font-size: 40px;
    width: 20%;
    display: flex;
    justify-content: right;
    background-color: rgb(131, 10, 90);
    /* align-self: center; */
    text-align: right;
    padding-right: .5em;
}

.App .tabs {
    background-color: rgb(131, 10, 90);
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    padding-top: 8px;
    padding-bottom: 9px;
}

.App .tab {
    background-color: rgb(131, 10, 90);
    color: white;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 0px;
}

.App .tab:hover {
    background-color: rgb(91, 6, 63);
    border-radius: 5px;
    color: white;
}


/* main section */

/* .App .main {
    background-color: rgb(153, 55, 155); 
} */


/*  */


/* manufacturer component */
 

.manu .addMeds {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5em;
}



.manu .input_ {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(190, 89, 153);
    width: 70%;
}

.manu .addBtn {
    background-color: rgb(184, 69, 173);
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-width: 0em;
    cursor: pointer;
    font-weight: bold;
    width: 30em;
    
}


.manu .manuTabs {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.manu .manuTab {
    color:white;
    background-color: rgb(184, 69, 173);
    padding: 5px;
    padding-right: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border-width: 0em;
    cursor: pointer;
}

.manu .manuTab:hover {
    background-color: rgb(210, 26, 189);
    color: rgb(46, 8, 92);
}

.manu .manuData {
    background-color: white;
}

